body {
    padding-top: 15px;
}
.tabulators {
    padding: 10px;
    background-color: #F0F0F0;
}
.stopfloater {
    clear: both;
}
img:active {
    transform: translateY(3px);
}

.tab_container {
    font-size: large;
    border-bottom: inset black 1px;
    width: 100%;
}
.tab_container .item {
    background-color: #F8F8F8;
    border: 1px solid #F0F0F0;
    font-size: inherit;
    float: right;
}
.tab_container .item:hover {
    background-color: #ddd;
}
.tab_container .active {
    background-color: #E9E9E9;
    border-top-color: #CCC;
    border-left-color: #CCC;
    border-right-color: #CCC;
}
.tab_container .refresh_img {
    width: 20px;
    float: right;
    margin-right: 24em;
}

.current_tasks_box {
    font-size: small;
    float:left;
}
.current_tasks_box .current_task_action {
    font-weight: bold;
}

#target_porn_directory_container {
    float: left;
    width:48%;
    padding-right: 2px;
    padding-left: 2px;
}

.options_container {
    text-align: right;
}

.column_header {
    text-align: center;
}
.column_header_container {
    width: 100%;
}
.column_header_container .img_delete_porn_directory {
    text-align: right;
    width: 1%;
    padding-left: 10px;
}

.img_options {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.img_functions {
    width: 25px;
    cursor: pointer;
}
.click_function {
    cursor: pointer;
}
.column_header .porn_directory_name {
    font-weight: bold;
}
.column_header .porn_directory_params {
    font-size: small;
}
.td_fit_content {
    width: 1%;
}
.column_function_container {
    width: 100%;
}
.column_function_container td {
    text-align: center;
    vertical-align: middle;
}
.column_function_container img {
    width: 20px;
    padding-right: 5px;
}
.img_description {
    font-size: x-small;
}