body {
    padding-top: 15px;
}

.tabulators {
    padding-right: 10px;
    padding-left: 10px;
}
.stopfloater {
    clear: both;
}
.delete_storage {
    color: red;
    text-align: right;
}

#mainstorage_container {
    float: left;
    width:48%;
    padding-right: 2px;
    padding-left: 2px;
}

#newstorages_container {
    float: right;
    width: 48%;
    padding-right: 2px;
    padding-left: 2px;
}

#dragbar{
    width: 3px;
    float: left;
    background-color:black;
    height:800px;
    cursor: col-resize;
    border: inset thin white;
    margin-top: 150px;
    margin-bottom: 20%;
    margin-left: 7px;
    margin-right: 0;
}
#ghostbar{
  width:3px;
  background-color:black;
  opacity:0.5;
  position:absolute;
  cursor: col-resize;
  z-index:999;
}

.options_container {
    text-align: right;
}

.column_header_container {
    width: 100%;
}

.column_header_container td {
    border: dotted thin red;
}

.newstorages {
    /*border: inset thin grey;*/
}

.img_options {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.img_functions {
    width: 25px;
    /*height: 25px;*/
    cursor: pointer;
}
.column_header {
    text-align: center;
}

.sorting_container {
    text-align: center;
}

.storage_name {
    font-weight: bold;
}
.storage_params {
    font-size: small;
}

.column_header_container .img_add_storage {
    text-align: left;
}
.column_header_container .img_delete_storage {
    text-align: right;
}
.img_rescan_storage, .img_recognize_movies {
    text-align: center;
}
.column_header_container .img_description {
    font-size: x-small;
}
.img_force {
    margin-bottom: -12px;
}
.column_header_container {
    vertical-align: middle;
    text-align: left;
}

.column_header_container .input_name {
    width: 25%;
    line-height: normal;
}
.column_header_container .input_path {
    width: 45%;
    line-height: normal;
}
.column_header_container label {
    font-size: small;
}
