body {
    padding-top: 15px;
}

.tabulators {
    padding-right: 10px;
    padding-left: 10px;
}
.stopfloater {
    clear: both;
}
.delete_porn_directory {
    color: red;
    text-align: right;
}

#target_porn_directory_container {
    float: left;
    width:48%;
    padding-right: 2px;
    padding-left: 2px;
}

#porn_directory_tables_container {
    float: right;
    width: 48%;
    padding-right: 2px;
    padding-left: 2px;
}

#dragbar{
    width: 3px;
    float: left;
    background-color:black;
    height:800px;
    cursor: col-resize;
    border: inset thin white;
    margin-top: 150px;
    margin-bottom: 20%;
    margin-left: 7px;
    margin-right: 0;
}
#ghostbar{
  width:3px;
  background-color:black;
  opacity:0.5;
  position:absolute;
  cursor: col-resize;
  z-index:999;
}

.options_container {
    text-align: right;
}

.column_header {
    text-align: center;
}
.column_header_container {
    width: 100%;
}

.porn_directory {
    /*border: inset thin grey;*/
}

.img_options {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.img_functions {
    width: 25px;
    cursor: pointer;
}
.click_function {
    cursor: pointer;
}

.sorting_container {
    text-align: center;
}

.column_header_container .porn_directory_name {
    font-weight: bold;
}
.column_header_container .porn_directory_params {
    font-size: small;
}
.column_header_container .img_add_porn_directory {
    text-align: left;
    width: 1%;
    padding-right: 10px;
}
.column_header_container .img_delete_porn_directory {
    text-align: right;
    width: 1%;
    padding-left: 10px;
}
.td_fit_content {
    width: 1%;
}

.column_function_container {
    width: 100%;
}
.column_function_container td {
    text-align: center;
    vertical-align: middle;
}
.column_function_container img {
    width: 20px;
    padding-right: 5px;
}
.img_description {
    font-size: x-small;
}

.add_porn_directory .input_name {
    width: 25%;
    line-height: normal;
}
.add_porn_directory .input_path {
    width: 45%;
    line-height: normal;
}
.add_porn_directory label {
    font-size: small;
}
