<!DOCTYPE html>
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Kinksorter 2.0</title>

        <link rel="stylesheet" href="{% static 'css/dist/tabulator_bootstrap.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/dist/tabulator.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

        <script type="text/javascript" src="{% static 'js/dist/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dist/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dist/tabulator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tabulator_functions.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directory_functions.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/core_functions.js' %}"></script>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
