{% extends "base.html" %}

{% block content %}

    <div class="sorting_container">
        <p>Here be sorting</p>
    </div>

    <br />

    <div class="tabulators">
        <div id="target_porn_directory_container">
            <p class="column_header">Main Directory</p>
            <div id="target_porn_directory_tabulator"></div>
        </div>

        <div id="dragbar">&nbsp;</div>

        <div id="porn_directory_tables_container">
        </div>

        <div class="stopfloater"></div>
    </div>
{% endblock %}
