{% extends "base.html" %}
{% load staticfiles %}

{% block style %}<link rel="stylesheet" href="{% static 'css/sorting.css' %}" type="text/css" />{% endblock %}
{% block script %}<script type="text/javascript" src="{% static 'js/sorting.js' %}"></script>{% endblock %}

{% block content %}
    <div class="tabulators">
        <div id="target_porn_directory_container"></div>

        <div class="sorting_container">
            <div class="directory_function_box sort_target_box">
                <div class="header">Sort Target</div>
                <div class="function_box">
                    <img title="Sort target" src="/static/img/sort.png"
                         class="img_functions" id="img_sort_target" />
                </div>
                Create the target directory by<br />
                <select id="sort_target_action">
                    <option value="">-</option>
                    <option value="link">Linking</option>
                    <option value="move">Moving</option>
                    <option value="list">Listing</option>
                    <option value="cmd">Scripting</option>
                </select><br />
                movies from their directories.
                <br />
                <div hidden class="sort_action_explanation">
                    <span  class="link"></span>
                        <div  class="link">
                        Create a symlink, always between the original file and its new, sorted path.
                        Use this as a simulated sorting, check the results and then sort with moving. <br />
                        Try to avoid multiple interleaved linking/moving operations, as you will have files AND links, so
                        don't just delete directories where you have previously sorted by moving. Also check revert!
                        </div>
                    <span  class="move"></span>
                        <div  class="move">
                            Move the file from its directory to the new, sorted path.<br />
                            If the directory is read-only (via check-box or filesystem), copy the file instead.
                        </div>

                    <span  class="list"></span>
                        <div  class="list">
                            Output a list of the files which are needed to combine the Target, without duplicates and only
                            choosing the best, but also without their destinations/correct names.<br />
                        </div>

                    <span  class="cmd"></span>
                        <div  class="cmd">
                            Output a shell-script, each line includes either "cp" or "mv", the source path and the
                            destination path, prepended by an "mkdir -p".<br />
                            Use for automation and checking/editing the results before sorting.
                        </div>
                </div>
                <span id="sorting_response">---</span>
            </div>
            <br />

            <div class="directory_function_box revert_target_box">
                <div class="header">Revert Target</div>
                <div class="function_box">
                    <img title="Revert previously moved/linked target" src="/static/img/revert.png"
                         class="img_functions" id="img_revert_target" />
                </div>
                Revert any previous sort.<br />Move any movies back or<br />delete their links.
                <br />
                <span id="revert_response">---</span>
            </div>
            <br />
        </div>

        <div class="stopfloater"></div>
    </div>
{% endblock %}
